#navbarCollapse {
    display:inline-flex;
    position:relative;
    top: 50px;
    

}
#navbarLOGIN a {
    display:inline-flex;
    position:relative;
    margin-right: 20px;
    top: -5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
}

#navbarLOGIN a:hover {
    color: #81ce24;
}

#navbarhome a:hover {
    color: #5e9918;
}

#mainnav {
    background-color: #E04415;
    
  
}

#navbarCollapse a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-emphasis-color: #ffff;  
}



/* Footer CSS */

* {
    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  }
  
  
  
  footer {
    position: sticky;

    top: 2250px;
  
    bottom: 0;
  
    left: 0;
  
    right: 0;
  
    background: #e04415;
  
    height: auto;
  
    width: 100vw;
  
    padding-top: 5px;
  
    color: #f8f7da;

  }
  
  .footer-content {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    flex-direction: column;
  
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
  
    font-weight: 500;
  
    text-transform: capitalize;
  
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
  
    margin: 10px auto;
  
    line-height: 28px;
  
    font-size: 14px;
  
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
  
    color: #fff;
  
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
  
    width: 20px;
  
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: aqua;
  }
  
  .footer-bottom {
    background: #b4634b;
  
    width: 100vw;
  
    padding: 20px;
  
    padding-bottom: 40px;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: center;
  
    font-size: 20px;
  
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #1b1919;
  
    font-size: 16px;
  
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
  
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
  
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #27bcda;
  }
  
  @media (max-width: 500px) {
    .footer-bottom p {
      float: none;
    }
  }
  
    .footer-menu ul {
      display: flex;
  
      margin-top: 10px;
  
      margin-bottom: 20px;
  
      text-align: center;
    }

  
/* Footer flex CSS */

/* Body and Area CSS */
body{
    background-color: #1b1919 ;
}

.menucont {
  /* background-color: #f8f7dad5; */
  display: flexbox;
  grid-template-columns: 1200px ;
  grid-template-rows:  1200px;
  margin: 2% 8%;
  justify-content: center;
  /* align-items: center; */
}
.area1 {
    background-color: #f8f7da00;
    font-family: Quicksand, sans-serif;
    color: #f8f7da;
    font-size: 110%;
}
.textbox1{
    display: grid;
    margin: 5% 10%;
    
}

    

/* Contact Us Portion in CSS */
#navbarCollapse {
    display:inline-flex;
    position:relative;
    top: 50px;
    

}
#navbarLOGIN a {
    display:inline-flex;
    position:relative;
    margin-right: 20px;
    top: -5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
}

#navbarLOGIN a:hover {
    color: #81ce24;
}

#navbarhome a:hover {
    color: #5e9918;
}

#mainnav {
    background-color: #E04415;
    
  
}

#navbarCollapse a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-emphasis-color: #ffff;  
}



/* Footer CSS */

* {
    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  }
  
  
  
  footer {
    position: sticky;

    top: 2250px;
  
    bottom: 0;
  
    left: 0;
  
    right: 0;
  
    background: #e04415;
  
    height: auto;
  
    width: 100vw;
  
    padding-top: 5px;
  
    color: #f8f7da;

  }
  
  .footer-content {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    flex-direction: column;
  
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
  
    font-weight: 500;
  
    text-transform: capitalize;
  
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
  
    margin: 10px auto;
  
    line-height: 28px;
  
    font-size: 14px;
  
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
  
    color: #fff;
  
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
  
    width: 20px;
  
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: aqua;
  }
  
  .footer-bottom {
    background: #b4634b;
  
    width: 100vw;
  
    padding: 20px;
  
    padding-bottom: 40px;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: center;
  
    font-size: 20px;
  
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #1b1919;
  
    font-size: 16px;
  
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
  
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
  
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #27bcda;
  }
  
  @media (max-width: 500px) {
    .footer-bottom p {
      float: none;
    }
  }
  
    .footer-menu ul {
      display: flex;
  
      margin-top: 10px;
  
      margin-bottom: 20px;
  
      text-align: center;
    }

  
/* Footer flex CSS */

/* Body and Area CSS */
body{
    background-color: #1b1919 ;
}

.menucont {
  /* background-color: #f8f7dad5; */
  display: flexbox;
  grid-template-columns: 1200px ;
  grid-template-rows:  1200px;
  margin: 2% 8%;
  justify-content: center;
  /* align-items: center; */
}
.area1 {
    background-color: #f8f7da00;
    font-family: Quicksand, sans-serif;
    color: #f8f7da;
    font-size: 110%;
}
.textbox1{
    display: grid;
    margin: 5% 10%;
    
}

    

/* Contact Us Portion in CSS */
