.menucont {
    text-align: center;
    display: grid;
    background-color: black;
    gap: 6px;
    grid-template-columns: 1fr 3fr 2fr;
}


.recp1{
    background-color: #aa7a53da;
  
   
}
.recp2{
    background-color: #88db6e;
}
.recp3{
    background-color: #e9e654;
    grid-row:span 2;
    
    
}
.recp4{
    background-color: #8a80c4;
   
}
.recp5{
    background-color: #f55b47;
}
.recp6{
    background-color: #56cce9;
}
.recp7{
    background-color: #fca9be;
}

